*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: black;
}
#header{
    background-color: #000000;
    height: 50px;
    color: white;
    font-size: large;
    font-weight: bold;
    text-align: center;
    padding-top: 15px;
}
.gallery{
    margin: 20px;
    display: grid;
    /* deciding the number of rows and their width using grid-template-column */
    grid-template-columns: repeat(3, 1fr); 
    /* giving some gap between each column and rows */
    column-gap: 10px;
    row-gap: 10px;
}
/* deciding the height of images inside the grid */
img{
    width:370px ;
    height:200px ;
}

/* giving the grid items some border */
.gallery-item{
    border: 2px solid #ccc;
    padding: 10px;
}

